/* CSS for the development logs page */
#devlogs-text {
    text-align: center;
    margin-top: 20px;
}

#devlogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 10px 20px;
}

.log-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect to container */
    background-color: aliceblue;
}

.log-entry {
    background-color: #333;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.log-entry-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.log-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0077cc; /* Base blue color */
    color: white;
    text-decoration: none;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; /* Add transitions for smoother animation */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

.log-button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
    transform: translateY(-2px); /* Add a slight upward movement on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Increase shadow size on hover */
}
