.tta {
    position: relative;
    display: inline-block;
}

.tta .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    width: 120px;
    bottom: 110%;
    left: 50%;

    margin-left: -60px;

    position: absolute;
    z-index: 1;
}

.tta:hover .tooltiptext {
    visibility: visible;
}


.nav_links {
    list-style: none;
    background-color: rgb(34, 34, 34);
}

.nav_links li {
    position: relative;
    top: 0px;
    display: inline-block;
    padding: 0px 15px;

}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #c9dde6;
    text-shadow: #edf0f1 0px 0px 10px;
}

.nav_links li a:active {
    color: #ADD8E6;
}

.nav_links li button {
    transition: all 0.3s ease 0s;
}

.nav_links li button:hover {
    color: #c9dde6;
    text-shadow: #edf0f1 0px 0px 10px;
}

.nav_links li button:active {
    color: #ADD8E6;
}