<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='png/sadge.png') }}">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>404 Error - Game Brain</title>

  
  <meta content="Game Brain" property="og:title" />
    <meta content="Invalid page lmao" property="og:description" />
    <meta content="https://DevForums.thediamondking.repl.co" property="og:url" />
    <meta content="https://DevForums.thediamondking.repl.co/icon" property="og:image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />

  
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	
  {% if mode == "dark" %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  {% endif %}
  
  {% if mode == "light" %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-light.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown-light.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index-light.css') }}">

  {% endif %}
  
  <!--<link rel="stylesheet" href="">-->
</head>
<body>
  
<!--Nav Begin-->
<header>
        <!--<a href=""><img class="logo" src="images\logo.png" alt="logo" /></a>-->
	
        <nav>
            <ul class="nav_links">
                <li><a href="https://gamebrain.tk/"><img src="{{ url_for('static', filename='svg/home.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Home</a></li>
                <li><a href="/search"><img src="{{ url_for('static', filename='svg/search.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Search</a></li>
                <li><a href="/@{{ userprof }}"><img src="{{ url_for('static', filename='svg/user.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Profile</a></li>
                <li><a href="/stats"><img src="{{ url_for('static', filename='svg/stats.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Stats</a></li>
                <li><a href="/create"><img src="{{ url_for('static', filename='svg/create.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Create</a></li>
            </ul>
        </nav>

  <div class="dropdown">
    <button class="dropbtn"><img src="{{ url_for('static', filename='svg/user.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Account - {{ notif_amt }}</button>
    <div class="dropdown-content">
      
      {% if userprof == "Anonymous" %}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      {% endif %}
      
      {% if userprof != "Anonymous" %}
      <a href="/notifications"><img src="{{ url_for('static', filename='svg/bell.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Notifs - {{ notif_amt }}</a>
      <a href="/events"><img src="{{ url_for('static', filename='svg/ticket.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Events</a>
      <a href="/settings"><img src="{{ url_for('static', filename='svg/settings.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Settings</a>
      <a href="/contact"><img src="{{ url_for('static', filename='svg/comment.svg') }}" height="16px" width="16px" style="position: relative; top:-3px;"> Admin</a>
      {% endif %}
    </div>
  </div>
        <h4 style="position: relative; top: 6px">{{ userprof }}</h4>
</header>
<!--Nav End-->
<style>
  .content-404 {
            background-color: rgb(55, 55, 55);
            padding: 10px;
            margin: auto;
            margin-left: 3%;
            width: 94%;
            height: max-content;
            margin-top: 30pt;
            display: grid;
            justify-content: center;
        }
        
        .sadge {
            padding: 10px;
            margin: auto;
            width: 45%;
        }
        
        .text-404 {
            text-align: center;
            padding: 10px;
            margin: auto;
        }
        
        .text-desc-404 {
            text-align: center;
            margin-top: 3%;
        }
</style>
  <div class="main-content">
            <div class="content-404"><img class="sadge" src="{{ url_for('static', filename='png/sadge.png') }}" alt="sadge:(">
                <p class="text-404">Error 404! </p>
                <p class="text-desc-404">Sadge :( url is invalid!</p>
            </div>
        </div>

<!--<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>